In [1]:
import pandas as pd

data = pd.read_csv('data.csv', usecols=['st', 'yr', 'mo', 'date', 'slat', 'slon', 'mag'])

In [2]:
data.shape

(60114, 7)

In [4]:
data.sample(10)

         yr  mo        date  st  mag   slat    slon
54495  2011   5  2011-05-21  OK    0  34.78  -96.89
20215  1980   3  1980-03-18  PA    1  41.55  -76.78
21140  1981   4  1981-04-13  IL    1  40.40  -90.15
2582   1959   6  1959-06-25  MN    1  43.72  -92.92
4550   1952   4  1952-04-05  NC    2  35.80  -78.88
17164  1975   4  1975-04-23  MO    3  39.73  -93.35
21761  1981   8  1981-08-31  TX    1  29.17  -95.67
23912  1988   4  1988-04-21  CO    0  39.92 -105.00
31734  1992   9  1992-09-21  PA    0  41.45  -80.22
56523  2013   5  2013-05-28  KS    3  39.04  -97.71

In [5]:
data.to_csv(r'specific_data.csv')

In [6]:
data1 = data.head(50)
data1.to_csv(r'specific_data1.csv')